<button
  id="ProductSubmitButton-{{ product_form_id }}  {{ product_id }}"
  type="submit"
  name="add"
  class="product-form__submit button button--full-width button--primary"
>
  <span>Add to cart </span>
</button>
